.vs/
.idea/
.vscode/
.idea/
obj/

Engine/Intermediate/bin/**/*.pdb
Engine/Intermediate/bin/**/*.dll
Engine/Intermediate/bin/**/*.exp
Engine/Intermediate/bin/**/*.map

Engine/Source/SharpmakeProject/obj
Engine/Source/SharpmakeProject/bin
Engine/Source/SharpmakeProject/output
Source/Properties

Engine/User
Engine/Engine/Shaders/Cache
Engine/Scripts/Intermediates
Engine/Volt-ScriptCore/Scripts/Intermediates
Engine/MonoDebugger.log
Engine/Log

SideProjects/VoltLauncher/App/Data.yaml

Project/Intermediate/
Project/Binaries
Project/.vs/
Project/*.csproj
Project/*.sln
Project/Log
Project/Cache
Project/Generated


*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.csproj.user
*.cached
*.dmp
*_runtimedependencies.txt

!SideProjects/VoltLauncher/VoltLauncher.sln
!SideProjects/VoltLauncher/VoltLauncher/VoltLauncher.csproj

!SideProjects/VoltSetup/VoltSetup.sln
!SideProjects/VoltSetup/VoltSetup/VoltSetup.vcxproj

!SideProjects/VoltVSTools/VoltVSTools.sln
!SideProjects/VoltVSTools/VoltVSTools/VoltVSTools.csproj

__pycache__
Sharpmake/

Volt/Volt/vendor/efsw/lib
Volt/Volt/vendor/efsw/obj

*.scor
*.gbl
*.incl
